.path-profile{
  .page-header{
    text-align: center;
  }
}
.field--name-field-logo-company{
  img{
    margin: 0 auto;
  }
}
.field--name-field-about-company{
  text-align: center;
  font-style: italic;
}
.field--name-field-regions{
  font-style: italic;
  text-align: center;
  .field--label{
    float: none;
  }
}
