.cart--cart-block{
  padding: 0 10px;
  background: linear-gradient(to top, #cec0a4 0%, #afa186 100%);
  a{
    color: #603b00;
    text-decoration: none;
    text-transform: uppercase;
    @include respond-to(md) {
      font-size: 12px;
    }
  }
  .cart-block--summary__icon{
    img{
      width: 45px;
      @include respond-to(md) {
        width: 30px;
      }
    }
  }
}

