.footer{
  li{
    display: inline-block;
    width: 20%;
    a{
      color: #fff;
      padding: 0 15px;
      float: left;
      &:hover{
        background: transparent;
      }
      &:focus{
        background: transparent;
      }
    }
  }
}
