.path-frontpage, .path-price{
  .view{
    .view-header{
      h3{
        color: #67440c;
        width: auto;
        display: inline-block;
        margin: 0;
        font-family: none;
      }
      span{
        color: #67440c;
        vertical-align: top;
        font-size: 12px;
      }
      .links {
          float: right;
      }
    }
  }
  .block-views-blockprice-partners-block-2{
    display: none;
  }
  .block-views-blockposts-block-2{
    display: none;
  }
}
