.path-frontpage,
.path-price,
.path-posts,
.path-taxonomy {
  .view{
    margin-top: 20px;
    .view-header{
      margin-bottom: 10px;
      h3{
        color: #67440c;
        width: auto;
        display: inline-block;
        margin: 0;
        font-family: none;
      }
      span{
        color: #67440c;
        vertical-align: top;
        font-size: 12px;
      }
      .links {
          float: right;
      }
    }
  }
  .block-views-blockprice-partners-block-2{
    display: none;
    .col{
      text-align: center;
      border-right: 1px dotted #67440c;
      margin-bottom: 10px;
      &:nth-child(2n){
        background: #efebe8;
      }
      &:last-child{
        border-right: none;
      }
      .views-field{
        &:nth-child(2n){
          color: #67440c;
        }
      }
    }
  }
  .block-views-blockposts-block-2{
    display: none;
    .col{
      text-align: center;
      border-right: 1px dotted #67440c;
      &:nth-child(2n){
        background: #efebe8;
      }
      &:last-child{
        border-right: none;
      }
      .views-field{
        &:nth-child(2n){
          color: #67440c;
        }
      }
    }
  }
  thead{
    font-family: none;
    background: #67440c;
    color: #fff;
    th{
      border-right: 1px solid #fff;
      &:last-child{
        border-right: none;
      }
    }
    a{
      color: #fff;
    }
  }
  tbody{
    a{
      color: #000;
      cursor: pointer;
    }
    tr{
      &:nth-child(2n){
        background: #efebe8;
      }
      &:hover{
        background: #efebe8;
      }
      td{
        border-right: 1px solid #efebe7;
        &:last-child{
          border-right: none;
        }
      }
    }
    .views-field-created,
    .views-field-type,
    .views-field-price{
      color: #8c652d;
    }
  }
  .all-prices{
    height: 23px;
    background: #c9ba9b;
    background: url(/modules/custom/maps_filter/images/ellipse-active.png) no-repeat 5px center #c9ba9b;
    padding: 0 5px 0 15px;
    border: 1px solid #603b00;
    color: #a58048;
    text-decoration: none;
    display: inline-block;
    line-height: 20px;
    &:hover{
      color: #603b00;
      background: url(/modules/custom/maps_filter/images/ellipse-active.png) no-repeat 5px center #c9ba9b;
    }
  }
}
