.top{
  background: linear-gradient(90deg, #3d0000 0%, #bf0000 100%);
  background-image: url(/themes/agrobirzha/images/header-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 200px;
  @include respond-to(xs) {
    min-height: 215px;
  }
}
.header{
  height: 150px;
  padding-top: 15px;
  .logo-site{
    width: 390px;
    float: left;
    margin-top: 20px;
    @include respond-to(xs) {
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .logo{
      margin: 0;
      padding: 0;
    }
    .navbar-brand{
      border-bottom: 1px dotted #736455;
      color: #d7d7d7;
      font-family: none;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      height: auto;
      h1{
        margin: 0;
        @include respond-to(xs) {
          font-size: 30px;
        }
      }
    }
    .navbar-text{
      color: #b59f83;
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      white-space: nowrap;
      @include respond-to(xs) {
        font-size: 10px;
        float: left;
      }
    }

  }
}
