#block-vhodnasait {
  background: rgba(255, 255, 255, 0.25);
  text-align: center;
  float: right;
  font-size: 12px;
  padding: 10px 10px 0px 10px;
  width: 200px;
    @include respond-to(xs) {
      width: 100%;
    }
  .control-label.js-form-required.form-required {
    display: none;
  }
  a{
    color: #fff;
    @include respond-to(xs) {
      display: block;
    }
  }
  li{
    list-style: none;
  }
  .form-group {
    @include respond-to(xs) {
      margin-bottom: 8px;
    }
  }
  .form-item.js-form-item.form-type-textfield.js-form-type-textfield.form-item-name.js-form-item-name.form-group {
    @include respond-to(xs) {
      display: inline-block;
      width: 40%;
    }
  }
  #edit-actions, #edit-actions--2{
    display: inline-block;
    width: 28%;
    @include respond-to(xs) {
      width: 17%;
    }
    .button{
      background: #f6f6f6;
      border: none;
      border-radius: 0;
      width: 50px;
      vertical-align: inherit;
      height: 33px;
    }
  }
  .form-control{
    border-radius: 0;
  }
  .form-type-password.js-form-type-password{
    display: inline-block;
    width: 70%;
    @include respond-to(xs) {
      width: 40%;
    }
  }
}

/*----Page- reg---*/

#edit-entity-test-company-field-regions{
  .form-type-checkbox{
    width: 19%;
    display: inline-block;
    @include respond-to(xs) {
      width: 49%;
    }
  }
}
