#block-vhodnasait {
  background: rgba(255, 255, 255, 0.25);
  text-align: center;
  float: right;
  font-size: 12px;
  padding: 20px 10px 10px 10px;
  width: 200px;
  .control-label.js-form-required.form-required {
    display: none;
  }
  a{
    color: #fff;
  }
  li{
    list-style: none;
  }
  button{

  }
  #edit-actions, #edit-actions--2{
    display: inline-block;
    width: 28%;
    .button{
      /*font-size: 0;*/
      background: #f6f6f6;
      border: none;
      border-radius: 0;
      width: 50px;
      &:after{
        display: block;
        width: 15px;
        height: 15px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
      }
    }
  }
  .form-control{
    border-radius: 0;
  }
  .form-type-password.js-form-type-password{
    display: inline-block;
    width: 70%;
  }
}



/*----Page- reg---*/

#edit-entity-test-company-field-regions{
  .form-type-checkbox{
    width: 19%;
    display: inline-block;
  }
}
