.well{
  background: none;
  border: none;
  padding: 20px 0 0 0;
  .block{
    margin: 0 0 20px 0;
  }
  h2{
    background: linear-gradient(to top, #cec0a4 0%, #afa186 100%);
    color: #603b00;
    font-family: none;
    font-size: 20px;
    margin-top: 0px;
    padding: 10px;
    text-transform: uppercase;
    @include respond-to(md) {
      font-size: 16px;
    }
  }

  #block-katalogtovariv{
    border: 1px solid #b4a68a;
    background: #f9f7f4;
    margin-bottom: 20px;
    .nav{
      padding-left: 10px;
      a{
        color: #000;
        background: url(/themes/agrobirzha/images/ellipse-static.png) no-repeat left center;
        padding-top: 5px;
        padding-bottom: 5px;
        &:hover{
          background: url(/themes/agrobirzha/images/ellipse-active.png) no-repeat left center;
          cursor: pointer;
        }
      }
    }
  }
  .block-simple-block-example{
    border: 1px solid #b4a68a;
    background: #f9f7f4;
    #feedback-form{
      padding: 0 10px;
      .form-control{
        border-radius: 0;
      }
      button{
        width: 100%;
        border-radius: 0;
        margin-bottom: 10px;
      }
    }
  }
  .block-views-exposed-filter-blockcustomsearch-page-1{
    .form--inline{
      position: relative;
    }
    .control-label{
      display: block;
      background: linear-gradient(to top, #cec0a4 0%, #afa186 100%);
      color: #603b00;
      font-family: none;
      font-weight: 100;
      font-size: 20px;
      margin-top: 0px;
      padding: 8px 10px;
      text-transform: uppercase;
    }
    .form-control{
      width: 100%;
      border-radius: 0;
    }
    #edit-actions, #edit-actions--2, #edit-actions--3 {
      position: absolute;
      top: 50px;
      right: 10px;
      @include respond-to(xs) {
        top: 54px;
      }
      #edit-submit-customsearch {
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        background: #fff;
        color: #603b00;
      }
    }
  }
}
