<div style="color:#61619E; font-style:italic; font-weight:bold;">
  <p style="background-color: #603913; color:white; font-style:normal; font-weight:bold;">
    Пользователь с именем
    <span style="color:white; font-style:italic; font-weight:bold;"> {{ title }} </span>
    оставил комментарий:
  </p>
  {{ text }}
</div>